/*====================================================================================================================*/
/*=============================================== Music Player Styles ================================================*/
/*====================================================================================================================*/
.media_controls {
    height: 100%;
    width: 100%;
    border-right: 2px solid #C3C3C3;
    margin: 0;
    padding: 0;
    text-align: center;
}

.media_controls ul {
    position: relative;
    display: inline-block;
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
}

.media_controls ul li {
    display: inline-block;
    float: left;
    height: 100%;
    margin-right: 5px;
    line-height: 50px;
    color: #898989;
}

.media_controls ul li button, .media_controls ul li span {
    display: inline-block;
    float: left;
    margin: 0 25px 0 0;
    height: 100%;
    border: none;
    background: none;
    background-size: contain;
    cursor: pointer;
}

.media_controls ul li button:last-child {
    margin-right: 0;
}

.media_controls ul li button:focus, .media_controls ul li button:hover {
    outline: none;
    cursor: pointer;
}

#previous, #next {
    width: 20px;
}

#play, #pause {
    width: 40px;
}

#play {
    background: #EEEEEE url('../images/media_controls/trebl_play.svg') center no-repeat !important;
}

#pause {
    display: none;
    background: #EEEEEE url('../images/media_controls/trebl_pause.svg') center no-repeat !important;
}

#previous {
    background: #EEEEEE url('../images/media_controls/trebl_prev.svg') center no-repeat !important;
}

#next {
    background: #EEEEEE url('../images/media_controls/trebl_next.svg') center no-repeat !important;
}

#volume {
    width: 30px;
    background: #EEEEEE url('../images/media_controls/trebl_volume.svg') center no-repeat !important;
}

#mute {
    display: none;
    margin-right: 25px;
    width: 30px;
    background: #EEEEEE url('../images/media_controls/trebl_mute.svg') center no-repeat !important;
}

#volume_bar {
    padding: 19px 0;
    width: 100px;
    margin-right: 20px;
}

#volume_slider, #timeline_slider {
    border-radius: 7px;
    background-color: #898989;
    height: 8px;
}

#timeline {
    padding: 19px 0;
    width: 450px;
}

.ui-widget-header {
    background-color: #D32F2F !important;
}

.ui-slider-handle {
    border-radius: 2000px !important;
    background-color: #EF584D !important;
    border: none !important;
    width: 16px !important;
    height: 16px !important;
    margin-top: 2px !important;
}

.ui-slider-handle:focus {
    outline: none !important;
}

#music_src {
    display: none;
}
