html, body {
    position: relative;
    height: 100%;
    width: 100%;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    height: calc(100% - 100px);
    width: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
}

a, a:visited, a:hover, a:focus, a:active {
    text-decoration: none;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #EF584D;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #898989;
    color: #000;
}​