html, body {
    position: relative;
    height: 100%;
    width: 100%;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    height: calc(100% - 100px);
    width: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
}

a, a:visited, a:hover, a:focus, a:active {
    text-decoration: none;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #EF584D;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #898989;
    color: #000;
}

#black_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.7;
    opacity: .70;
}

#popup {
    display: none;
    position: fixed;
    top: 25%;
    left: 35%;
    width: 30%;
    height: 30%;
    padding: 16px;
    background-color: #DDDDDD;
    z-index: 1002;
    overflow: hidden;
    border-radius: 10px;
}

#close_popup {
    display: none;
    position: absolute;
    top: 14.5%;
    right: 32.25%;
    z-index: 1003;
    font-size: 26px;
    background-color: #000;
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    border-radius: 200px;
    color: #fff;
}

#close_popup:hover {
    cursor: pointer;
    background-color: #D32F2F;
    transition: all 0.2s linear;
}

#popup_wrapper{
    padding: 70px 0;
    text-align: center;
}

#popup div div {;
    float: left;
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
}

.popup_labels {
    display: inline-block;
    float: left;
    width: calc(40% - 20px);
    height: 40px;
    font-size: 26px;
    line-height: 40px;
    text-align: center;
    padding: 5px 10px;
    margin-right: 2%;
    background-color: #D32F2F;
}

.popup_inputs {
    font-weight: 300;
    display: inline-block;
    float: left;
    width: calc(58% - 22px);
    height: 38px;
    border: 1px solid #fff;
    font-size: 26px;
    line-height: 30px;
    padding: 5px 10px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #000;
}

.popup_inputs:focus {
    outline: none;
    border: 1px solid #FF363D;
    transition: all 0.2s linear
}

#popup_button {
    display: inline-block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 auto;
    border: none;
    background: none;
    background-color: #EF584D;
    color: #fff;
    margin-top: 10px;
    border-radius: 8px;
}

#popup_button:hover {
    background-color: #D32F2F;
    cursor: pointer;
}

#popup_button:focus {
    outline: none;
}